
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    font-weight: 550;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
  --verde: rgb(46, 139, 87);
  --verdec: rgb(67, 182, 113);
  --laranja: rgb(255, 127, 50);
  --vermelho: rgb(230, 57, 70);
  --cinzac: rgb(230, 230, 230);
  --cinzae: rgb(51, 51, 51);
  --dourado: rgb(212, 175, 55);
  --azul: rgb(96, 125, 139);
  --azul2: rgb(135, 206, 235);
  --azule: rgb(38, 23, 104);
}

body{
    background-color: var(--cinzac);
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}

.inicio{
    margin: 1% 0px 1% 3% ;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 0 40px 0 40px;
  justify-items: center;
  background-color: var(--cinzac);
}

.produto {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 15px;
  width: 230px;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.produto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.imgproduto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.produto .bi-heart-fill {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.produto .bi-heart-fill{
    color: var(--vermelho);
}

.produto .bi-heart-fill:hover {
  transform: scale(1.3);
}

.nomeproduto {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 10px;
  color: var(--cinzae);
}

.precofalso {
  text-decoration: line-through;
  color: gray;
  font-size: 0.9rem;
  margin-top: 5px;
}

.precoreal {
  color: var(--verde);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 3px;
}
