/* Estilo para garantir que os ícones do Lucide sejam renderizados corretamente */
[data-lucide] {
    width: 20px;
    height: 20px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  width: 100%;
  max-width: 100%;
}
